<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navigations.ejs') %>
    <main>
        <h1>Oops! 404 - Page not found</h1>
    </main>
<%- include('./includes/end.ejs') %>